In [62]:
import pandas as pd

In [63]:
test_df = pd.read_csv('Test.csv')
train_df = pd.read_csv('Train.csv')

In [64]:
train_df.head(5)

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,NO,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,NO,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,NO,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,NO,11,Mixt 250F=Unlimited_call24H,2.0,0

## Описание набора данных

Согласно описанию, представленны обезличенные данные пользователей:
- user_id - индитификатор пользователя
- REGION - местоположение клиента
- TENURE - времени с момента заключения контракта
- MONTANT - сумма пополнения
- FREQUENCE_RECH - количество пополнений счета
- REVENUE - ежемесячный доход с клиента
- ARPU_SEGMENT - приведенный ежемесячные поступления за последние 90 дней (сумма поступлений за 90 дней / 3)
- FREQUENCE - количество пополнений счета
- DATA_VOLUME - количество подключений
- ON_NET - звонков внутри сети
- ORANGE - звонков абонентам ORANGE
- TIGO - звонков абонентам  Tigo
- ZONE1 - звонков zones1
- ZONE2 - звонков  zones2
- MRG - клиент ушел
- REGULARITY - время активности за последний 90 дней
- TOP_PACK - наиболее часто используемый пакет услуг
- FREQ_TOP_PACK - количество активаций часто используемого пакета услуг
- CHURN - пользователь ушел(целевая переменная)

## Анализ данных на предмет необходимости

In [65]:
train_df.nunique()

user_id           2154048
REGION                 14
TENURE                  8
MONTANT              6540
FREQUENCE_RECH        123
REVENUE             38114
ARPU_SEGMENT        16535
FREQUENCE              91
DATA_VOLUME         41550
ON_NET               9884
ORANGE               3167
TIGO                 1315
ZONE1                 612
ZONE2                 486
MRG                     1
REGULARITY             62
TOP_PACK              140
FREQ_TOP_PACK         245
CHURN                   2
dtype: int64

Данные в колонке *MRG* на всем объеме обучающих данных имею единственное значение - исключаем.

In [66]:
train_df = train_df.drop(columns=['MRG'])
train_df

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,11,Mixt 250F=Unlimited_call24H,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154043,ffffe85215ddc71a84f95af0afb0deeea90e6967,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,0
2154044,ffffeaaa9289cdba0ac000f0ab4b48f4aa74ed15,THIES,K > 24 month,6100.0,15.0,5800.0,1933.0,15.0,621.0,26.0,40.0,40.0,NaN,NaN,55,"Data: 200 F=100MB,24H",9.0,0
2154045,fffff172fda1b4bb38a95385951908bb92379809,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
2154046,fffff5911296937a37f09a37a549da2e0dad6dbb,THIES,K > 24 month,10000.0,11.0,7120.0,2373.0,13.0,NaN,0.0,140.0,13.0,NaN,NaN,28,All-net 500F=2000F;5d,12.0,0
2154047,fffff6dbff1508ea2bfe814e5ab2729ce6b788c2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,62,NaN,NaN,1

In [67]:
# % пропущенных данных
train_df.isna().sum() / train_df.shape[0] * 100

user_id            0.000000
REGION            39.428044
TENURE             0.000000
MONTANT           35.131018
FREQUENCE_RECH    35.131018
REVENUE           33.706213
ARPU_SEGMENT      33.706213
FREQUENCE         33.706213
DATA_VOLUME       49.229776
ON_NET            36.520774
ORANGE            41.561191
TIGO              59.887988
ZONE1             92.120835
ZONE2             93.648052
REGULARITY         0.000000
TOP_PACK          41.902223
FREQ_TOP_PACK     41.902223
CHURN              0.000000
dtype: float64

Проанализировав процент пропущенных значений для каждого из параметров принимается следующая стратегия:
- REGION - заполнение признаком "other", возможно что заполнение каким-либо средним приведет к искажению результатов;
- MONTANT - наличие пропущенных данных в этом поле говорит, что пополнений счета не было - заполняем значением 0;
- FREQUENCE_RECH - аналогично MONTANT - заполняем значением 0;
- REVENUE - аналогично MONTANT - заполняем значением 0;
- ARPU_SEGMENT - аналогично MONTANT - заполняем значением 0;
- FREQUENCE - аналогично MONTANT - заполняем значением 0;

Следующие параметры отражают активность пользователя в специфической области:
- DATA_VOLUME - принимаем nan как отсутствие активности и присваиваем 0;
- ON_NET - принимаем nan как отсутствие активности и присваиваем 0;
- ORANGE - принимаем nan как отсутствие активности и присваиваем 0;
- TIGO - принимаем nan как отсутствие активности и присваиваем 0;
- ZONE1 - принимаем nan как отсутствие активности и присваиваем 0;
- ZONE2 - принимаем nan как отсутствие активности и присваиваем 0;

Для уменьшения вероятности потери данных, для восполнения отсутствующих значений используем метод кластеризации:
- TOP_PACK - с помощью кластеризации определим возможное значение;
- FREQ_TOP_PACK - после заполнение TOP_PACK с помощью кластеризации определим возможное значение.

In [68]:
train_df["REGION"] = train_df["REGION"].fillna("OTHER")
train_df["MONTANT"] = train_df["MONTANT"].fillna(0)
train_df["FREQUENCE_RECH"] = train_df["FREQUENCE_RECH"].fillna(0)
train_df["REVENUE"] = train_df["REVENUE"].fillna(0)
train_df["ARPU_SEGMENT"] = train_df["ARPU_SEGMENT"].fillna(0)
train_df["FREQUENCE"] = train_df["FREQUENCE"].fillna(0)
train_df["DATA_VOLUME"] = train_df["DATA_VOLUME"].fillna(0)
train_df["ON_NET"] = train_df["ON_NET"].fillna(0)
train_df["ORANGE"] = train_df["ORANGE"].fillna(0)
train_df["TIGO"] = train_df["TIGO"].fillna(0)
train_df["ZONE1"] = train_df["ZONE1"].fillna(0)
train_df["ZONE2"] = train_df["ZONE2"].fillna(0)
train_df

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,OTHER,I 18-21 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,OTHER,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,0.0,90.0,46.0,7.0,0.0,0.0,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,0.0,0.0,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,0.0,39.0,24.0,0.0,0.0,0.0,11,Mixt 250F=Unlimited_call24H,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154043,ffffe85215ddc71a84f95af0afb0deeea90e6967,OTHER,K > 24 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,NaN,NaN,0
2154044,ffffeaaa9289cdba0ac000f0ab4b48f4aa74ed15,THIES,K > 24 month,6100.0,15.0,5800.0,1933.0,15.0,621.0,26.0,40.0,40.0,0.0,0.0,55,"Data: 200 F=100MB,24H",9.0,0
2154045,fffff172fda1b4bb38a95385951908bb92379809,OTHER,K > 24 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,1
2154046,fffff5911296937a37f09a37a549da2e0dad6dbb,THIES,K > 24 month,10000.0,11.0,7120.0,2373.0,13.0,0.0,0.0,140.0,13.0,0.0,0.0,28,All-net 500F=2000F;5d,12.0,0
2154047,fffff6dbff1508ea2bfe814e5ab2729ce6b788c2,OTHER,K > 24 month,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,62,NaN,NaN,1

In [69]:
# произведем One Hot кодирование категориальных переменных в столбцах 'TENURE' и 'REGION'
train_df = pd.get_dummies(train_df,columns=['TENURE', 'REGION'])
train_df

,user_id,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,REGION_KEDOUGOU,REGION_KOLDA,REGION_LOUGA,REGION_MATAM,REGION_OTHER,REGION_SAINT-LOUIS,REGION_SEDHIOU,REGION_TAMBACOUNDA,REGION_THIES,REGION_ZIGUINCHOR
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2,00001654a9d9f96303d9969d0a4a851714a4bb57,3600.0,2.0,1020.0,340.0,2.0,0.0,90.0,46.0,7.0,...,0,0,0,0,1,0,0,0,0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,1000.0,1.0,985.0,328.0,1.0,0.0,39.0,24.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154043,ffffe85215ddc71a84f95af0afb0deeea90e6967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2154044,ffffeaaa9289cdba0ac000f0ab4b48f4aa74ed15,6100.0,15.0,5800.0,1933.0,15.0,621.0,26.0,40.0,40.0,...,0,0,0,0,0,0,0,0,1,0
2154045,fffff172fda1b4bb38a95385951908bb92379809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
2154046,fffff5911296937a37f09a37a549da2e0dad6dbb,10000.0,11.0,7120.0,2373.0,13.0,0.0,0.0,140.0,13.0,...,0,0,0,0,0,0,0,0,1,0
2154047,fffff6dbff1508ea2bfe814e5ab2729ce6b788c2,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0

In [71]:
train_df.shape

(2154048, 39)